$m_c : #333333;
$s_c : #707478;
$bg_c : #e6e6e6;
$w_c: #ffffff;

* {
    // outline: 1px solid rgb(142, 141, 214);
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background: $bg_c;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    p {
        white-space: pre;
    }
}

.PF {
    position: relative;

    .btn {
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 1000;
        font-size: 0;
        width: 5rem;
        height: 5rem;
        border: none;
        background: transparent;

        &::before {
            content: "";
            position: absolute;
            top: 1.5rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 3px;
            background: #333;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 1.5rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 3px;
            background: #333;
        }

        &.on::before {
            display: none;
        }

        &.on::after {
            display: none;
        }

        span::before,
        span::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: transparent;
        }

        &.on span::before {
            transform: rotate(45deg);
            background: $w_c;
        }

        &.on span::after {
            transform: rotate(-45deg);
            background: $w_c;
        }

    }

    .gnb {
        position: fixed;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.7rem;
        font-weight: 700;
        z-index: 999;

        ul {
            display: flex;
            justify-content: space-between;
            border: 3px solid $m_c;
            background: $w_c;
        }


        li {
            flex: 1;
            line-height: 3.5rem;
            text-align: center;

            &:not(:last-child) {
                border-right: 3px solid #333;
            }

            a {
                position: relative;
                display: block;


            }

            &.on {
                background: $m_c;
                color: $w_c;
            }

        }

        &::before {
            display: block;
            content: "";
            width: 100%;
            height: 1.5rem;
            background: $m_c;
            margin: 0 0 1rem 0;
        }
    }

    .contact {
        position: fixed;
        bottom: 5rem;
        left: 5rem;
        font-size: 1.5rem;
        font-weight: 600;
        z-index: 999;

        img {
            width: 3rem;
            margin: 0 1rem 0 0;
        }
    }
}


.section {
    // font-size: 5px;
    // transition: 1s 1s;

    &.active {
        // font-size: 30px;
    }
}


.window {
    display: flex;
    justify-content: space-between;
    border: 3px solid $m_c;
    padding: 8px 15px;
    margin: 0 0 1rem 0;
    font-size: 1.7rem;
    font-weight: 600;

    .dots {
        li {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background: $w_c;
            border-radius: 50%;
            margin: 0 10px 0 0;
            vertical-align: middle;


            &:nth-child(2) {
                background: #adb5bd;
            }

            &:nth-child(3) {
                background: #6c757d;
            }
        }

    }

    .xicon {
        position: relative;
        background: transparent;
        width: 1.5rem;
        height: 1.5rem;
    }

    .xicon::before,
    .xicon::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -2px;
        transform: translateY(-50%);
        width: 2rem;
        height: 2px;
        background: $m_c;
    }

    .xicon::before {
        transform: rotate(45deg);
    }

    .xicon::after {
        transform: rotate(-45deg);
    }

}

.home {

    .fp-overflow {
        overflow: visible;
    }

    .tit {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;

        h1 {
            text-align: center;
            font-size: 7.5rem;
            // font-size: 0;
            font-weight: 900;
            line-height: 1.25;
            // animation: txt 3s infinite ease;
        }

        @keyframes txt {
            from {
                font-size: 0;
            }

            to {
                font-size: 7.5rem;
            }
        }
    }

    .move {
        position: absolute;
        top: -4rem;
        left: -5.4rem;
        border: 2px dashed $s_c;
        padding: 14rem 20.5rem;
        animation: box 3s infinite ease;
        transform-origin: top left;

        .cs_01 {
            position: absolute;
            top: -6px;
            left: -6px;
            display: block;
            width: 12px;
            height: 12px;
            background: $w_c;
        }

        .cs_02 {
            position: absolute;
            top: -6px;
            right: -6px;
            display: block;
            width: 12px;
            height: 12px;
            background: $w_c;
        }

        .cs_03 {
            position: absolute;
            bottom: -6px;
            left: -6px;
            display: block;
            width: 12px;
            height: 12px;
            background: $w_c;
        }

        .cs_04 {
            position: absolute;
            bottom: -6px;
            right: -6px;
            display: block;
            width: 12px;
            height: 12px;
            background: $w_c;
        }

        @keyframes box {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1.3);
            }
        }

    }

    .cursor {
        width: 3rem;
        position: absolute;
        top: -4rem;
        left: -6rem;
        animation: cursor 3s infinite ease;
    }

    @keyframes cursor {
        from {
            top: -4rem;
            left: -6rem;
        }

        to {
            top: 32.5rem;
            left: 47.5rem;
        }
    }



}

.project {
    margin: 10rem 0 0 0;

    .container {
        display: flex;
        gap: 3rem;

        .photo {
            flex: 3;

            figure {
                position: relative;
                height: 60rem;
                overflow: hidden;
                border: 3px solid $m_c;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 6s linear;
                }

                &:hover {
                    img {
                        transform: translateY(-100%);
                        top: 100%
                    }
                }
            }

        }

        .desc {
            flex: 1;

            .window {
                justify-content: flex-end;

                li {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin: 0 0 0 1rem;
                }

                .bar {
                    border-bottom: 2px solid $m_c;
                }

                .square {
                    border: 2px solid $m_c;
                }

            }

            .txt {
                height: 60rem;
                border: 3px solid $m_c;
                display: flex;
                background: $w_c;
                padding: 0 2rem;

                .box {
                    margin: auto 0;

                    span {
                        display: inline-block;
                        color: #adb5bd;
                        font-size: 1.5rem;
                        margin: 0 0 5px 0;
                        font-weight: 700;
                    }

                    h2 {
                        margin: 0 0 3rem 0;
                        font-size: 3.5rem;
                        font-weight: 700;
                    }

                    dl {
                        margin: 0 0 2rem 0;

                        dt {
                            color: $s_c;
                            margin: 0 0 1rem 0;
                            font-size: 1.9rem;
                            font-weight: 700;
                        }

                        li {
                            margin: 0 0 5px 0;
                        }

                        span {
                            vertical-align: middle;
                            width: 15px;
                            height: 15px;
                            border: 1px solid #ddd;
                        }

                        .color {
                            display: inline-block;
                            margin: 0 0 0 1rem;
                        }

                    }

                    a {
                        position: relative;
                        display: inline-block;
                        color: $w_c;
                        background: $m_c;
                        padding: 10px 30px;
                        margin: 3rem 0 0 0;
                        overflow: hidden;

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: "VIEW WEB";
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            background: #adb5bd;
                            transform: translateX(-100%);
                            transition: 1s;
                        }

                        &:hover {
                            &::before {
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }


        }
    }



}



.about {
    h2 {
        position: relative;
        display: inline-block;
        border: 2px solid $m_c;
        background: $m_c;
        color: $w_c;
        padding: 1rem 3.5rem;
        font-size: 2.5rem;
        font-weight: 800;

        &::after {
            content: "";
            position: absolute;
            top: -3px;
            right: -49px;
            width: 0;
            height: 0;
            border-bottom: 50px solid $m_c;
            border-right: 49px solid transparent;
        }
    }

    .box {
        display: flex;
        gap: 3rem;
        background: $w_c;
        border: 3px solid $m_c;
        padding: 5rem;

        .photo {
            flex: 1;
            filter: grayscale(0.8);

            img {
                border: 3px solid $m_c;
            }

        }

        .profile {
            flex: 2;

            dt {
                color: $m_c;
                margin: 2rem 0 1rem 0;
                font-size: 2.1rem;
                font-weight: 900;
            }

            dd {
                display: inline-block;
                margin: 0 1rem 0 0;
                font-size: 1.9rem;
            }
        }



    }
}